.articles-holder{
    img{
        width: 100%;
    height: auto;
    }

    title{
    color: black;
    transition: 0.3s;
    font-weight: bold;
    line-height: 1.6;
    // display: block;
    width: 100%;
    padding: 12px;
    }

    a:hover{
        color: green;
    }
}