.articles-holder{
    img{
        max-width: 100%;
    height: auto;
    }

    a{
            color: black;
    transition: 0.3s;
    font-weight: bold;
    line-height: 1.6;
    display: block;
    width: fit-content;
    padding: 12px;
    }

    a:hover{
        color: green;
    }
}